<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE project>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/beautyparlour.log</file>
		<encoder
			class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/beautyparlour.%d{yyyy-MM-dd}.%i.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
	</appender>
	<appender name="IMPORT-LOG"
		class="ch.qos.logback.core.FileAppender">
		<File>${catalina.base}/logs/beautyparlour-import.log</File>
		<Append>false</Append>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</layout>
	</appender>
	<!-- <logger name="com.bharyang.startup" level="ERROR" -->
	<!-- additivity="false"> -->
	<!-- <appender-ref ref="IMPORT-LOG" /> -->
	<!-- </logger> -->

	<logger name="org.springframework.data" level="ERROR" />
	<logger name="org.springframework.security" level="ERROR" />
<!-- 	<logger name="com.spring" level="ALL" /> -->
	
	<logger name="com.spring" level="ALL"
		additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org.springframework.boot" level="ERROR">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.ws.client.MessageTracing">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework.ws.server.MessageTracing">
		<level value="ERROR" />
	</logger>
<!-- 	<logger name="org.apache.http.wire" level="DEBUG" /> -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>